/* || LAYOUT || */

.container {
    max-width: 1100px;
    margin-inline: auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin-inline: auto;
    padding: 0 15px;
}


a i {
    margin-right: 10px;
  }

li i {
    margin-right: 10px;
}

/* || CARD ||*/

.card {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


/* BUTTONS */ 

.btn {
    display: inline-block;
    padding: 13px 20px;
    background-color: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}

/* TEXT STYLES */

.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

/* BG STYLES */

.bg-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.bg-light {
    background-color: var(--light-color);
    color: #333;
}

.bg-dark {
    background-color: var(--dark-color);
    color: #fff;
}

.bg-black {
    background-color: #000;
    color: #fff;
}

